# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# blockchain
/_blockchain/bin
/_blockchain/builders
/_blockchain/ci
/_blockchain/config
/_blockchain/full-stack-asset-transfer-guide
/_blockchain/hardware-security-module
/_blockchain/node_modules
/_blockchain/off_chain_data
/_blockchain/test-application
/_blockchain/token-erc-20
/_blockchain/token-erc-721
/_blockchain/token-erc-1155
/_blockchain/token-erc-sdk
/_blockchain/token-erc-utxo