 * {
     font-family: Inter, sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     font-size: 12px;
     accent-color: #4538A2;
 }

 body {
     background-image: url(/img/background.png);
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
 }

 .reg-container {
     font-size: 11px;
     line-height: 14px;
     color: var(--middleGray);
 }

 .reg-container span::selection,
 button::selection,
 input::selection,
 a::selection,
 label::selection {
     color: rgb(255, 255, 255);
     background-color: #4538A2;
 }

 .reg-container button::selection {
     color: #ffffff;
     background-color: #4538A2;
 }

 .reg-container img::selection {
     user-select: none;
 }

 .reg-flex {
     display: flex;
     justify-content: center;
 }

 .reg-blank-flex-reserve {
     display: flex;
     width: 350px;
     height: 100%;
     justify-content: center;
     padding-top: 70px;
 }

 .reg-blank {
     background-color: #151618;
     width: 100%;
     height: 600px;
     padding: 40px;
     padding-top: 32px;
     border-radius: 9px;
     box-shadow: 0 0 15px rgba(0, 0, 0, .1);
 }

 .reg-blank-desc {
     transition: .5s;
 }

 .reg-blank-inner-blocks-flex {
     display: flex;
     flex-direction: column;
     gap: 17px;
 }

 .reg-input-flex-1 {
     position: relative;
     display: flex;
     flex-direction: column;
     gap: 20px;
     padding-top: 10px;
 }

 .reg-boxes {
     display: flex;
     align-items: center;
 }

 .reg-box1 {
     position: relative;
     z-index: 2;
 }

 .reg-input-area {
     width: 100%;
     height: 40px;
     border-style: solid;
     border-radius: 5px;
     border-color: rgba(255, 255, 255, .5);
     border-width: 1px;
     color: white;
     background-color: #18191B;
     padding-left: 10px;
     padding-right: 35px;
     font-size: 14px;
     transition: .3s;
 }

 .reg-labels {
     font-size: 14px;
     position: absolute;
     left: 10px;
     pointer-events: none;
 }

 .reg-input-area:focus {
     outline: none;
 }

 .reg-input-area:focus+.reg-labels {
     outline: none;
     opacity: 0;
     transition: .3s;
 }

 .reg-input-area:valid+.reg-labels {
     opacity: 0;
 }

 .reg-input-help {
     position: absolute;
     right: 10px;
     width: 20px;
     height: 20px;
     opacity: .3;
 }

 .reg-hint {
     position: absolute;
     opacity: 0;
 }

 .reg-hint1-check{
    color: var(--errorRed);
 }
 @media (min-width: 980px) {
     .reg-hint {
         position: absolute;
         width: 300px;
         height: fit-content;
         padding: 10px;
         right: 330px;
         border-radius: 10px;
         box-shadow: 0 0 5px rgba(0, 0, 0, .1);
         background-color: #151618;
         transition: .5s;
         transition-delay: .5s;
     }

     .reg-input-help:hover+.reg-hint {
         opacity: 1;

     }
 }

 .reg-checkbox-flex {
     display: flex;
     flex-direction: row;
     gap: 5px;
     margin-bottom: 10px;
 }

 .reg-blank-buttons-flex {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
 }

 .reg-blank-buttons-flex button {
     width: 100%;
     height: 39px;
     border-style: none;
     border-radius: 10px;
     background-color: #4438a2b0;
     color: white;
     transition: .3s;
 }

 .reg-blank-buttons-flex button:not(.reg-blank-button-prev):hover {
     background-color: #4438a2;
 }

 .reg-blank-already {
     position: relative;
     text-align: center;
 }

 /* ПУТЕВОДИТЕЛЬ */

 .reg-guide {
     position: absolute;
     width: 80px;
     height: 250px;
     margin-left: 470px;
     top: 90px;
     background-color: #151618;
     border-radius: 9px;
     box-shadow: 0 0 15px rgba(0, 0, 0, .1);
 }

 .reg-guide-inside-flex {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 250px;

     justify-content: space-evenly;
 }

 .dot {
     width: 50px;
     height: 50px;
     background-color: transparent;
     border-style: solid;
     border-width: 1px;
     border-color: rgba(255, 255, 255, .5);
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 20px;
     transition: .5s;
     pointer-events: none;
 }

 .error-dot {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: var(--errorRed);
    border-radius: 50%;
    margin-left: 284px;
    display: none;
}