@font-face {
    font-family: worksansBolt;
    src: url(../fonts/work_sans/WorkSans/Web/WorkSans-Bold.woff2);
}
@font-face {
    font-family: worksansRegular;
    src: url(../fonts/work_sans/WorkSans/Web/WorkSans-Regular.woff2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .main1{
    background-image: url(../img/background.png);
    position: absolute;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-color: black;
    display: block;
  }
  .register-window{
    background-color: #151618;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 86vh;
    width: 25%;
    border-radius: 12px;
  }
  .inner-content{
    margin: 57px;
  }
  .register-window-header-text{
    color:#fff;
    font-weight: bold;
    font-size: 24px;
    font-family: worksansBolt, sans-serif;
  }
.register-window-header-text2{
    color:#fff;
    font-weight: bold;
    font-size: 24px;
    font-family: worksansBolt, sans-serif;
    text-align: center;
}
.register-window-small-text{
    color: #8C8D8E;
    margin-top: 20px;
    font-family: worksansBolt, sans-serif;
}
.register-window-containers{
    margin-top: 20px;
    display: block;
}
.register-window-email-container{
    padding: 0;
    
    width: 380px;
    height: 57px;
    background-color: #18191B;
    border: 2px solid #3c3d3e;
    border-radius: 10px;
    color: #fff;
    font-family: worksansRegular, sans-serif;
    font-size: 24px;
}
.register-window-email-container::placeholder{
    color: #c0c0c0;
}
.register-window-user-container{
    width: 380px;
    height: 57px;
    background-color: #18191B;
    border: 2px solid #3c3d3e;
    border-radius: 10px;
    margin-top: 41px;
    color: #fff;
    font-family: worksansRegular, sans-serif;
    font-size: 24px;
}
.register-window-lock-container{
    width: 380px;
    height: 57px;
    background-color: #18191B;
    border: 2px solid #3c3d3e;
    border-radius: 10px;
    margin-top: 41px;
    color: #fff;
    font-family: worksansRegular, sans-serif;
    font-size: 24px;
}
.rigister-window-agree{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 95%;
    margin-left: 15px;
    margin-top: 25px;
}
.register-window-agree-check{
    height: 18px;
    width: 20px;
    background-color: #18191B;
    border: 2px solid #3c3d3e;
    border-radius: 5px;
}
.register-window-agree-text{
    color: #8C8D8E;
    font-family: worksansBolt, sans-serif;
    font-size: 13px;
}
.rigister-window-login-btn{
    margin-top: 29px;
    width: 380px;
    height: 57px;
    background-color: #0000ff;
    color: #fff;
    border-radius: 10px;
    font-family: worksansBolt, sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.rigister-window-bottom-text{
    margin-top: 39px;
    color: #8C8D8E;
    font-family: worksansRegular, sans-serif;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
}

  
/* Более стильная анимация при фокусе на поле ввода */
input:focus {
    border-color: rgb(133, 194, 255);
    box-shadow: 0 0 10px rgba(30, 144, 255, 0.5);
    transform: scale(105%);
    transition: 0.7s;
  }
  
  /* Анимация для placeholder при фокусе */
  input:focus::placeholder {
    color: #777;
  }
  
  /* Анимация при вводе текста в поле ввода */
  input::placeholder {
    color: #ccc;
    transition: color 0.3s;
  }
  
  /* Анимация при наведении на кнопку отправки формы */
.rigister-window-login-btn:hover,
.rigister-window-prev-btn:hover
 {
    background: linear-gradient(to right, #94abf5, #5a4eb0, #94abf5);
    transform: scale(110%);
    transition: 0.7s ;
  }
  .main2{
    background-image: url(../img/background.png);
    position: absolute;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-color: black;
    display: none;
  }
  .rigister-window-prev-btn{
    margin-top: 50px;
    width: 380px;
    height: 57px;
    background-color: #0000ff;
    color: #fff;
    border-radius: 10px;
    font-family: worksansBolt, sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .company-workers{
    width: 380px;
    height: 57px;
    background-color: #18191B;
    border: 2px solid #3c3d3e;
    border-radius: 10px;
    margin-top: 41px;
    color: #fff;
    font-family: worksansRegular, sans-serif;
    font-size: 24px;
  }

  